<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}


<div class="card">
  <div class="card-body">
    <a href="/project/{{project.id}}">{{project.name}}</a>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
      <p>
      {{project.description}}
    </p>

  </div>
</div>
{{/each}}
